.cartfont {
  background-image: url("../../Assets/img-page/cartpay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cart-title {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2rem;
  width: 100%;
}
