.cart__font {
  background-image: url("../../Assets/img-page/cartpay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: 0;
}

.cart__title {
  color: rgb(47, 33, 33);
  font-size: 2rem;
  font-weight: 500;
  line-height: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cart__button {
  border-radius: 2rem;
  color: whitesmoke;
  height: 3rem;
  letter-spacing: 0.1rem;
  width: 10rem;
}

.cart__subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-top: -1.4rem;
}

.cart__row-div {
  min-height: 100vh;
}

.cart__row {
  background: rgb(221, 199, 159);
  border-radius: 1rem;
  margin: 1rem 4rem;
}

.cart__row-img {
  height: 12rem;
  margin-left: 3rem;
}

.cart__row-items {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.cart__row-button {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .cart__title {
    font-size: 1.6rem;
  }

  .cart__font {
    background-image: url("../../Assets/img-page/cartpay-mq.jpg");
    background-size: cover;
  }

  p {
    text-align: center;
  }

  .cart__row-button {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  .cart__row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1rem auto;
  }

  .cart__row-items {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
  }

  .cart__row-img {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .cart__row-button {
    margin-bottom: 1rem;
  }
}
