.detail__card {
  margin: 2.5rem auto 3rem auto;
  border-radius: 1rem;
  padding: 1rem;
  width: 70%;
  background: rgb(250, 222, 189);
}
.card-body {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.detail__img {
  flex-basis: 45%;
  display: block;
  width: 40%;
}
.detail__text {
  flex-basis: 50%;
  display: block;
  padding: 0 1rem;
}

.detail__title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1.2rem;
  text-transform: uppercase;
}

.detail__description {
  font-size: 1rem;
}

.detail__items {
  font-size: 1.2rem;
  text-align: center;
}

.detail__itemcount__button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

.detail__button {
  background: rgb(68, 66, 66);
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  height: 3rem;
  width: 190px;
  text-align: center;
  margin: 0.2rem 0;
}

.detail__sales {
  background: rgba(17, 98, 248, 0.993);
  border-radius: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  height: 3rem;
  width: 190px;
  border: 0.1rem solid transparent;
}

.detail__sales:hover {
  background: rgb(68, 66, 66);
  background: rgb(41, 115, 251);

  border: 0.1rem solid wheat;
}

@media screen and (max-width: 576px) {
  .detail__card {
    padding: 1rem;
    width: 100%;
    height: inherit;
  }
  .card-body {
    justify-content: center;
  }
  .detail__img {
    width: 100%;
  }
  .detail__text {
    flex-basis: 100%;
    text-align: center;
  }
  .detail__title {
    margin-top: 0rem;
  }
  .detail__itemcount__button {
    display: block;
    margin: 1rem auto;
  }
  .detail__button {
    height: 3rem;
    text-align: center;
    margin: 1rem 0;
  }
  .detail__sales {
    height: 3rem;
    margin: 1rem 0;
  }
}
