.item-img {
  width: 20rem;
  height: 18rem;
}

.item-div {
  border: "1px solid red";
  display: flex;
  padding: 0 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  justify-content: center;
}

.item-card {
  height: 30rem;
  border-radius: 1rem;
}

.item-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
