body {
  background: rgb(236, 228, 217);
}

li,
a {
  font-size: 20px;
  letter-spacing: 1px;
  list-style: none;
  text-decoration: none;
}

header {
  background: #161615;
  height: 60px;
  width: 100%;
}

.title {
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  padding: 0 50px;
}

header ul {
  float: right;
  margin-right: 75px;
  margin-top: 10px;
}

header ul li {
  display: inline-block;
  padding: 0px 10px;
  padding-top: 5px;
}

header ul li a {
  color: white;
}

a:hover {
  color: rgb(246, 235, 169);
  text-decoration-line: none;
}
