body {
  background: rgb(236, 228, 217);
}

li,
a {
  font-size: 1.1rem;

  list-style: none;
  text-decoration: none;
  padding: 0 0.5rem;
  color: white;
}

header {
  background: #161615;
  height: 3.7rem;
  width: 100%;
}

.title {
  color: white;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 3.7rem;
  margin-left: 2rem;
  padding: 0 3.1rem;
}

.title:hover {
  color: rgb(219, 189, 150);
}

header ul {
  float: right;
  margin-right: 6.3rem;
  margin-top: 0.6rem;
}

header ul li {
  display: inline-block;
  padding: 0 0.6rem;
  padding-top: 0.3rem;
}

header ul li a {
  color: white;
  line-height: 0.4rem;
}

a:hover {
  color: rgb(246, 235, 169);
  text-decoration-line: none;
}

header a.active {
  background: rgb(236, 190, 129);
  color: #161615;
  font-weight: 500;
  text-transform: uppercase;
}

header a.cartOn {
  border-bottom: 0.2rem solid rgb(236, 190, 129);
  background: #3b3b3b;
}

.cartOn {
  font-size: 1.5rem;
}
