#root,
::after,
::before {
  box-sizing: inherit;
}

body {
  background: rgb(236, 228, 217);
}

header {
  background: #161615;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin: 0 1.8rem 0 0;
  padding: 0.5rem 0.25rem;
}

.menu__label {
  color: white;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 1rem 0rem 1rem 6rem;
  text-align: left;
  margin: 0 auto;
}

.menu__label:hover {
  color: rgb(219, 189, 150);
  text-decoration: none;
}

.menu__options {
  font-size: 1.1rem;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0 0.8rem;
}

.menu__options:hover {
  color: rgb(246, 235, 169);
  text-decoration-line: none;
}

header .menu__options.active {
  background: rgb(236, 190, 129);
  color: #161615;
  font-weight: 500;
  text-transform: uppercase;
}

header .menu__options.cartOn {
  border-bottom: 0.2rem solid rgb(236, 190, 129);
  background: #3b3b3b;
}

.cartOn {
  font-size: 1.5rem;
}

.menu__container {
  position: sticky;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1000;
}

@media screen and (max-width: 576px) {
  header {
    justify-content: center;
  }

  .menu {
    display: block;
    margin: 0 auto;
  }

  .menu__label {
    padding: 0.5rem 0rem;
  }

  .menu__options {
    font-size: 1rem;
    padding: 0 0.4rem;
  }
}
