.footer {
  background: rgb(53, 52, 50);
  font-size: 1.2rem;
  font-weight: bold;
  height: 12rem;
  padding: 1.3rem 0;
  text-align: center;
}

.footer__title {
  color: aliceblue;
  text-transform: uppercase;
}

.footer__button {
  color: #666;
  font-size: 1.4rem;
  height: 3.2rem;
  width: 3.2rem;
  background: #171515;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.footer__button:hover {
  font-size: 1.8rem;
  background: rgb(27, 27, 27);
  transition: 0.4s;
}

.footer__button i {
  color: rgb(199, 192, 192);
}

.footer__credit {
  font-weight: normal;
  color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.footer__autor {
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin-left: 5px;
  color: rgb(235, 235, 115);
}

.footer__autor:hover {
  text-decoration: none;
  color: rgb(230, 110, 89);
}
