.error__container {
  background-image: url("../../Assets/img-page/error-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.error__title {
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
}

.error__btn-container {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.error__button {
  border-radius: 2rem;
  color: whitesmoke;
  font-size: 1rem;
  height: 3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: 12rem;
}

@media screen and (max-width: 576px) {
  .error__title {
    font-size: 1.5rem;
  }

  .error__container {
    background-image: url("../../Assets/img-page/error-page-mq.jpg");
    background-size: cover;
  }
}
