.div-count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
}

.cart-button:hover {
  background: rgb(53, 52, 52);
  border: 0.1rem solid rgb(15, 15, 15);
}

.handler-button {
  background: rgb(68, 66, 66);
  border: none;
  display: inline-block;
  border: 0.1rem solid transparent;
}

.handler-button:hover {
  background: rgb(53, 52, 52);
  border: 0.1rem solid rgb(15, 15, 15);
}

.quantity {
  display: inline-block;
  height: 2.2rem;
  width: 120px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .div-count {
    margin: 2rem auto 1rem auto;
  }
}
