.itemList-div {
  display: inline-block;
}

.itemList-title {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: 100%;
}
